name: main

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: List directory contents
      run: ls -alrth
    - name: Hello World Action
      uses: ./
      with:
        who-to-greet: 'francisfuzz'
